/* html {
  width: 100vw;
  height: 100vh;
} */

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  overflow-y: scroll;
}

body::before {
  padding: 1rem 1.3rem;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
}

:root {
  /* Debug styles */
  --mobile: #F7F052;
  --phablet: #F28123;
  --tablet: #D34E24;
  --laptop: #563F1B;
  --desktop: #38726C;
  --radius-lg: 8px;
  --radius: 4px;

}

.page__content {
  padding: 6rem 3rem;
}

.page__heading {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.pricing-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F5F5F7;
  text-align: center;
  width: 30%;
  margin: 2rem auto;
  border-radius: var(--radius-lg);
  padding: 2px 2px;
}

.pricing-toggle__option {
  height: 100%;
  border-radius: var(--radius-lg);
  width: 45%;
  border: none;
  padding: 10px 0;
  background: #F5F5F7;
  font-weight: bold;
}

.pricing-toggle__option.active {
  background-color: white;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 31px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid #F5F5F7;
  border-radius: var(--radius-lg);
}
.card--top {
  /* height: 50%; */
  background-color: #fff;
  padding: 30px 30px 32px;
}

.card--bot {
  /* height: 50%; */
  background-color: #F9FAFB;
  padding: 32px 30px 40px;
}
.card__pill {
  border-radius: 172px;
  width: 108px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  background-color: #FEE2E2;
  color: #F94E4E;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 24px -7px;
}

.card__product {}

.card__product--product-level {
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 8px;
}

.card__product--description {
  font-size: 14px;
  color: #757880;
  margin: 0 0 14px;
}
.card__product--price {
  font-weight: bold;
  font-size: 24px;
  display: inline-flex;
  align-items: baseline;
  justify-content: flex-start;
}

.card__product--price-period {
  color: #757880;
  font-size: 14px;
}

.cta {}

.cta__button {
  background: #DC085C;
  border-radius: var(--radius);
  border: none;
  color: white;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 12px;
  margin: 24px 0 0;
}

.cta__button:hover {
  cursor: pointer;
}

.description {
  margin: 0 0 24px;
}

.description__intro {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.description__body {
  color: #868990;
  margin: 16px 0 0;
}

.description__list {}

.description__list--item {
  margin: 0 0 8px;
  color: #868990;
}

/* Mobile */
@media screen and (min-width: 400px) {

  body::before {
    content: "Mobile";
    background-color: var(--mobile);
  }

  .card-grid {
     grid-template-columns: repeat(1, 1fr);
  }
}

/* Phablet */
@media screen and (min-width: 600px) {
  body::before {
    content: "Phablet";
    background-color: var(--phablet);
    color: black;
  }

  .card-grid {
     grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet */
@media screen and (min-width: 900px) {
  body::before {
    content: "Tablet";
    background-color: var(--tablet);
  }

  .card-grid {
     grid-template-columns: repeat(4, 1fr);
  }
}

/* Laptop */
@media screen and (min-width: 1400px) {
  body::before {
    content: "Laptop";
    background-color: var(--laptop);
  }

  .card-grid {
     grid-template-columns: repeat(4, 1fr);
  }
}

/* Desktop */
@media screen and (min-width: 1600px) {
  body::before {
    content: "Desktop";
    background-color: var(--desktop);
  }

  .page__content {
    padding: 4.563rem 8.188em;
  }

  .card-grid {
     grid-template-columns: repeat(4, 1fr);
  }
}