<div id="card">
  <div>
    <div class="pill">Limited Time</div>
    <div class="product">
      product level
      description
      price
    </div>
    <div class="cta"></div>
  </div>
  <div>
    <div class="description">
      What's Included
      Potenti felis, in cras at at ligula nunc.
    </div>
    <ul>
      <li>
        <svg></svg>Lorem ipsum
      </li>
      <li>
        <svg></svg>Lorem ipsum
      </li>
      <li>
        <svg></svg>Lorem ipsum
      </li>
      <li>
        <svg></svg>Lorem ipsum
      </li>
    </ul>
  </div>
</div>